/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/* line 85, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/partials/_variables.scss */
.container {
  max-width: 1440px;
  width: auto;
  margin: auto;
}

/* line 90, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/partials/_variables.scss */
.container-large {
  max-width: 1750px;
  width: auto;
  margin: auto;
  padding: 0 20px;
}

/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Header Flex*/
/* line 4, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-flex {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}

/* line 8, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-flex > [class*="col-"] {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

/* line 12, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-flex .header-left {
  position: static !important;
}

/* line 15, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-flex .header-right {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

/* line 18, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-flex .content-header {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

/* line 21, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-flex .topbar-right {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

@media (max-width: 767px) {
  /* line 21, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-flex .topbar-right {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
}

/* line 31, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.rb-float-header.rb-sticky {
  background: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* line 38, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .rb-float-header.rb-sticky .header-v7 .header-desktop,
#index .rb-float-header.rb-sticky .header-v4 .header-desktop,
#module-rbthemedream-live .rb-float-header.rb-sticky .header-v7 .header-desktop,
#module-rbthemedream-live .rb-float-header.rb-sticky .header-v4 .header-desktop {
  background: rgba(0, 0, 0, 0.8);
}

/* line 44, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .rb-float-header.rb-sticky .header-v2 .header-desktop,
#index .rb-float-header.rb-sticky .header-v3 .header-desktop,
#module-rbthemedream-live .rb-float-header.rb-sticky .header-v2 .header-desktop,
#module-rbthemedream-live .rb-float-header.rb-sticky .header-v3 .header-desktop {
  background: rgba(255, 255, 255, 0.9);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* line 57, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .rb-header .rbLogo img {
  max-height: 25px;
  width: auto;
}

/* line 62, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .rb-header .megamenu {
  position: unset;
}

/* line 66, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .rb-header.header-v4 .megamenu {
  margin-left: 0;
}

@media (min-width: 576px) {
  /* line 72, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  #header .rb-header.header-v5 .megamenu {
    margin-left: 0;
  }
}

@media (max-width: 1500px) and (min-width: 992px) {
  /* line 78, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  #header .rb-header .header-desktop {
    position: relative;
  }
}

/* line 87, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v2 .header-desktop,
#module-rbthemedream-live .header-v2 .header-desktop {
  position: absolute;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

/* line 92, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v2 .header-desktop:hover,
#module-rbthemedream-live .header-v2 .header-desktop:hover {
  background: #FFFFFF;
}

/* line 98, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v3 .header-desktop,
#module-rbthemedream-live .header-v3 .header-desktop {
  position: absolute;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

/* line 103, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v3 .header-desktop:hover,
#module-rbthemedream-live .header-v3 .header-desktop:hover {
  background: #FFFFFF;
}

/* line 109, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v4 .header-desktop,
#module-rbthemedream-live .header-v4 .header-desktop {
  position: absolute;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

/* line 114, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v4 .header-desktop .show-menu,
#module-rbthemedream-live .header-v4 .header-desktop .show-menu {
  color: #FFFFFF;
}

/* line 118, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v4 .header-desktop .popup-over .popup-title,
#module-rbthemedream-live .header-v4 .header-desktop .popup-over .popup-title {
  color: #FFFFFF;
}

/* line 122, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v4 .header-desktop .blockcart #cart-toogle i,
#module-rbthemedream-live .header-v4 .header-desktop .blockcart #cart-toogle i {
  color: #FFFFFF;
}

/* line 128, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v7 .header-desktop,
#module-rbthemedream-live .header-v7 .header-desktop {
  position: absolute;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

/* line 134, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v7 .header-desktop .popup-over .popup-title,
#module-rbthemedream-live .header-v7 .header-desktop .popup-over .popup-title {
  color: #FFFFFF;
}

/* line 138, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v7 .header-desktop .blockcart #cart-toogle i,
#module-rbthemedream-live .header-v7 .header-desktop .blockcart #cart-toogle i {
  color: #FFFFFF;
}

/* line 145, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#index .header-v7 .header-desktop .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li > a,
#module-rbthemedream-live .header-v7 .header-desktop .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li > a {
  color: #FFFFFF !important;
}

/*Header v1*/
/* line 157, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v1 {
  margin-bottom: 0;
  position: relative;
  background: 0 0;
}

@media (max-width: 991px) {
  /* line 161, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v1 .header-wrapper {
    padding: 15px 0;
  }
}

/* line 167, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v1 .search-widget {
  position: relative;
}

/* line 169, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v1 .search-widget .popup-title {
  margin-left: 0;
}

@media (min-width: 992px) {
  /* line 177, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v1 .megamenu .rb_megamenu_content .rb_megamenu_content_content {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
}

/*Header v2*/
@media (max-width: 991px) {
  /* line 187, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v2 .header-wrapper {
    padding: 15px 0;
  }
}

/* line 193, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v2 .search-widget {
  position: relative;
}

/* line 195, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v2 .search-widget .popup-title {
  margin-left: 0;
}

/*Header v3*/
/* line 204, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v3 .header-desktop .header-wrapper {
  padding: 25px 0;
}

/* line 207, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v3 .header-desktop .header-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

/* line 210, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v3 .header-desktop .show-menu {
  color: #222222;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

/* line 215, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v3 .header-desktop .show-menu i {
  font-size: 18px;
  margin-right: 10px;
}

/*Header v4*/
/* line 226, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v4 .header-desktop .header-wrapper {
  padding: 25px 0;
}

/* line 229, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v4 .header-desktop .show-menu {
  color: #222222;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

/* line 234, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v4 .header-desktop .show-menu i {
  font-size: 16px;
  margin-right: 10px;
}

/*Header v5*/
/* line 243, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v5 {
  position: relative;
}

@media (max-width: 991px) {
  /* line 245, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .header-wrapper {
    padding: 15px 0;
  }
}

/* line 251, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v5 .search-widget {
  position: relative;
}

/* line 253, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v5 .search-widget .popup-title {
  margin-left: 0;
}

@media (min-width: 1200px) {
  /* line 259, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .megamenu .rb_megamenu {
    margin-left: 70px;
  }
}

/* line 265, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v5 .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li > a {
  text-transform: none;
  font-size: 17px !important;
  font-weight: 600;
}

@media (min-width: 1200px) {
  /* line 276, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget {
    width: 100%;
    margin-right: 30px;
  }
  /* line 279, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget #click_show_search,
  .header-v5 .search-widget .search-top {
    display: none;
  }
  /* line 283, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget .container {
    padding: 0;
  }
  /* line 286, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget .cssload-container {
    position: absolute;
    bottom: 50%;
    right: 60px;
    width: auto;
    height: 25px;
    top: inherit;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
  /* line 295, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget .cssload-double-torus {
    width: 25px;
    height: 25px;
  }
  /* line 299, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget .resuilt-search {
    position: absolute;
    z-index: 999;
    top: calc(100% + 10px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.06);
  }
  /* line 304, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget .resuilt-search .rb-item-product {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px dashed #eeeeee;
    width: 100%;
    margin-bottom: 0;
  }
  /* line 311, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget .resuilt-search .rb-item-product > div {
    padding: 0 10px;
  }
  /* line 313, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget .resuilt-search .rb-item-product > div.rb-product-img {
    flex: 0 0 35%;
    max-width: 35%;
    width: 35%;
  }
  /* line 318, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget .resuilt-search .rb-item-product > div.rb-product-info {
    flex: 0 0 65%;
    max-width: 65%;
    width: 65%;
  }
  /* line 325, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget .resuilt-search .rb-resuilt {
    margin: 0;
    border-radius: 4px;
  }
  /* line 330, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .search-widget .rb-resuilt-error {
    margin: 0;
  }
  /* line 334, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .rb-search-name {
    width: 100%;
    padding: 0;
    position: relative;
    z-index: inherit;
    background: transparent;
    visibility: visible;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  /* line 344, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .rb-search-name .rb-search {
    border-bottom: 1px solid #cacaca;
    padding: 0 30px 0 0;
    height: 40px;
    width: 100%;
    background: transparent;
    color: #666666;
    font-weight: 300;
    margin-bottom: 0;
    font-size: 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
  /* line 6, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/bourbon/css3/_placeholder.scss */
  .header-v5 .rb-search-name .rb-search::-webkit-input-placeholder {
    color: #666666;
    text-indent: 0px;
  }
  /* line 6, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/bourbon/css3/_placeholder.scss */
  .header-v5 .rb-search-name .rb-search::-moz-placeholder {
    color: #666666;
    text-indent: 0px;
  }
  /* line 6, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/bourbon/css3/_placeholder.scss */
  .header-v5 .rb-search-name .rb-search:-moz-placeholder {
    color: #666666;
    text-indent: 0px;
  }
  /* line 6, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/bourbon/css3/_placeholder.scss */
  .header-v5 .rb-search-name .rb-search:-ms-input-placeholder {
    color: #666666;
    text-indent: 0px;
  }
  /* line 359, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .rb-search-name .rb-search:focus {
    outline: 0;
    border-bottom-color: #222222;
  }
  /* line 365, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .rb-search-name .rb-search-btn {
    position: absolute;
    background: transparent;
    border: none;
    bottom: 50%;
    color: #222222;
    padding: 0;
    font-size: 14px;
    width: auto;
    height: 40px;
    right: 0;
    top: inherit;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
    transform: translateY(50%);
  }
  /* line 380, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .rb-search-name .rb-search-btn i {
    font-size: 20px;
  }
  /* line 383, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .rb-search-name .rb-search-btn:focus {
    outline: 0;
  }
  /* line 386, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v5 .rb-search-name .rb-search-btn:hover {
    background: transparent;
    color: #f68e56;
  }
}

/*Header v6*/
/* line 396, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v6 {
  position: relative;
}

@media (min-width: 992px) {
  /* line 399, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v6 .header-desktop .rbLogo {
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin: auto;
    display: inline-block;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    z-index: 9;
    line-height: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 399, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v6 .header-desktop .rbLogo {
    left: 48%;
  }
}

/* line 414, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v6 .header-desktop .show-menu {
  color: #222222;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

/* line 419, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v6 .header-desktop .show-menu i {
  font-size: 16px;
  margin-right: 10px;
}

@media (min-width: 992px) {
  /* line 428, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v6 .header-desktop .megamenu .rb_megamenu_content .rb_megamenu_content_content {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
  }
  /* line 433, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v6 .header-desktop .megamenu .rb_megamenu .rb_menus_ul {
    width: 100%;
    max-width: 850px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }
  /* line 438, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v6 .header-desktop .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li:nth-child(5) {
    margin-left: auto;
  }
  /* line 441, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v6 .header-desktop .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li > a {
    text-transform: none;
    font-size: 17px !important;
    font-weight: 600;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  /* line 425, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v6 .header-desktop .megamenu {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }
}

/*Header v7*/
@media (max-width: 991px) {
  /* line 459, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .header-v7 .header-wrapper {
    padding: 15px 0;
  }
}

/* line 465, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v7 .search-widget {
  position: relative;
}

/* line 467, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v7 .search-widget .popup-title {
  margin-left: 0;
}

/* line 476, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v7 .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li > a {
  text-transform: none;
  font-size: 17px !important;
  font-weight: 600;
}

/*Header v8*/
/* line 490, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v8 .header-desktop .header-wrapper {
  padding: 25px 0;
}

/* line 493, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v8 .header-desktop .show-menu {
  color: #222222;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

/* line 498, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-v8 .header-desktop .show-menu i {
  font-size: 16px;
  margin-right: 10px;
}

/* line 507, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar {
  font-size: 13px;
  height: 50px;
}

/* line 510, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar.topbar-v1 {
  background: #2e2e2e;
  color: #FFFFFF;
}

/* line 514, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar.topbar-v2 {
  background: #ffffff;
  color: #222222;
}

/* line 518, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar.topbar-v2 .email a {
  color: #222222;
}

/* line 522, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar.topbar-v2 .language-selector .expand-more,
#bwp-topbar.topbar-v2 .currency-selector .expand-more {
  color: #222222;
}

/* line 527, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar.topbar-v3 {
  background: transparent;
}

/* line 529, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar.topbar-v3 .topbar-inner {
  background: #f0f0f0;
}

@media (min-width: 992px) {
  /* line 529, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  #bwp-topbar.topbar-v3 .topbar-inner {
    padding: 0 30px;
  }
}

/* line 536, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar.topbar-v6 {
  background: #2e2e2e;
  color: #FFFFFF;
}

/* line 541, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar .topbar-right > * {
  padding-right: 20px;
}

/* line 545, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar .topbar-right > div:last-child {
  padding-right: 0;
}

/* line 550, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar .email,
#bwp-topbar .ship {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

/* line 554, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar .email i,
#bwp-topbar .ship i {
  margin-right: 10px;
  font-size: 20px;
  position: relative;
}

/* line 560, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar .email {
  position: relative;
  margin-right: 20px;
}

/* line 563, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar .email:before {
  position: absolute;
  content: "";
  right: 0;
  background: #565656;
  width: 1px;
  height: 18px;
  top: calc(50% - 9px);
}

/* line 572, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar .email a {
  color: #FFFFFF;
}

/* line 574, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#bwp-topbar .email a:hover {
  color: #f68e56;
}

/* line 583, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#gr-lang .expand-more {
  display: none;
}

/* line 586, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#gr-lang #language_selector {
  margin-bottom: 10px;
}

/* line 589, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#gr-lang .language-selector,
#gr-lang .currency-selector {
  padding: 0;
  margin: 0;
}

/* line 594, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#gr-lang .title_block {
  display: block;
  width: 100%;
}

/* line 598, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#gr-lang .dropdown-menu {
  display: block;
  position: relative;
  margin-top: 7px;
  padding: 5px;
  min-width: 140px;
}

/* line 604, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#gr-lang .dropdown-menu::before {
  display: none;
}

/* line 607, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#gr-lang .dropdown-menu li {
  padding: 0;
}

/* line 610, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#gr-lang .dropdown-menu .dropdown-item {
  padding: 3px;
}

/* line 617, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.rb-id-wishlist {
  margin: 0;
}

/* line 619, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.rb-id-wishlist a {
  position: relative;
  color: #222222;
}

/* line 623, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.rb-id-wishlist i {
  font-size: 18px;
}

/** .bg-over-lay **/
/* line 629, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.bg-over-lay {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: 120vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -moz-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -ms-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  -o-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
  will-change: opacity;
  z-index: 1000;
}

/* line 643, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.show-over-lay {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 649, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile {
  padding: 15px 0;
}

/* line 651, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .header-right {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

/* line 654, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .header-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

/* line 657, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .header-mobile-fixed {
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  align-items: center;
  box-shadow: 0 1px 12px 2px #8f8f8f4d;
}

/* line 667, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .header-mobile-fixed > div {
  flex: 1;
  text-align: center;
}

/* line 671, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .header-mobile-fixed i {
  font-size: 22px;
}

/* line 676, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .popup-over .popup-title {
  margin-left: 0;
  padding: 0;
}

/* line 681, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .rb-id-wishlist,
.header-mobile .blockcart {
  padding: 0;
  margin-left: 0;
}

/* line 686, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .header-mobile .rbLogo img {
  max-height: 20px;
}

/* line 689, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .blockcart #cart-toogle i {
  font-size: 22px;
}

/* line 693, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .wishlist-box .rb-id-wishlist .title {
  display: none;
}

/* line 698, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .wishlist-box .rb-id-wishlist .rb-header-item i::before {
  content: "\e935";
  font-family: "icomoon";
}

/* line 704, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.header-mobile .wishlist-box .rb-id-wishlist .rb-wishlist-quantity {
  position: absolute;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  top: -10px;
  color: #FFFFFF;
  font-weight: 500;
  right: -10px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #f68e56;
  font-size: 12px;
}

/***** menubar **/
/* line 722, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar {
  position: fixed;
  z-index: 999999;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  padding: 40px 50px;
  top: 0;
  overflow: hidden;
  left: 0;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 1400px) {
  /* line 722, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .menu-sidebar {
    padding: 30px;
  }
}

/* line 737, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
[dir="rtl"] .menu-sidebar {
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

/* line 740, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar.active {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 991px) {
  /* line 740, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
  .menu-sidebar.active {
    overflow-x: hidden;
  }
}

/* line 747, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar .container-large {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

/* line 754, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu {
  position: relative;
  -webkit-box-align: inherit;
  -moz-box-align: inherit;
  box-align: inherit;
  -webkit-align-items: inherit;
  -moz-align-items: inherit;
  -ms-align-items: inherit;
  -o-align-items: inherit;
  align-items: inherit;
  -ms-flex-align: inherit;
}

/* line 758, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu::before {
  display: none;
}

/* line 761, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_megamenu_content {
  height: 100%;
}

/* line 763, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_megamenu_content .container {
  height: 100%;
  max-width: 100%;
}

/* line 767, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_megamenu_content .rb_megamenu_content_content {
  height: 100%;
}

/* line 771, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul {
  margin: 20px 0;
  max-width: 100%;
}

/* line 775, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li > a,
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li > span {
  display: none;
}

/* line 779, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul {
  position: unset;
  display: inline-block;
  height: 100%;
}

/* line 783, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li {
  margin-bottom: 10px;
}

/* line 785, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li .rb_tab_li_content {
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 500;
}

/* line 792, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li .rb_tab_has_child::after {
  content: "\e914";
  font-family: "icomoon";
  width: 36px;
  height: 36px;
  margin-top: 0;
  border: none;
  background: transparent;
  text-align: center;
  line-height: 36px;
  font-size: 13px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50px;
}

/* line 806, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li .rb_columns_contents_ul {
  max-height: 100%;
  flex-flow: inherit;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-y: scroll;
}

/* line 812, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li .rb_columns_contents_ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* line 817, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li .rb_tab_toggle_title {
  padding: 10px 0;
  color: #222222;
}

/* line 820, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li .rb_tab_toggle_title > a {
  color: #222222;
}

/* line 823, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li .rb_tab_toggle_title::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #222222;
  display: inline-block;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

/* line 842, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li:hover .rb_tab_toggle_title::before, #header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li.open .rb_tab_toggle_title::before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* line 846, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li:hover .rb_tab_has_child::after, #header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li.open .rb_tab_has_child::after {
  background: #f5f5f5;
}

/* line 849, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
#header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li:hover.rb_tabs_has_content .rb_tab_li_content .rb_tab_name::before, #header .menu-sidebar .megamenu .rb_megamenu .rb_menus_ul .rb_menus_li .rb_columns_ul .rb_tabs_li.open.rb_tabs_has_content .rb_tab_li_content .rb_tab_name::before {
  border-right-color: #000;
}

/* line 862, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar .sidebar-bottom {
  width: 25%;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #eeeeee;
}

/* line 869, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar .rb-lang {
  margin-bottom: 10px;
}

/* line 871, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar .rb-lang .language-selector,
.menu-sidebar .rb-lang .currency-selector {
  padding: 0;
}

/* line 874, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar .rb-lang .language-selector > a,
.menu-sidebar .rb-lang .currency-selector > a {
  color: #222222;
  text-transform: none;
}

/* line 878, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar .rb-lang .language-selector .dropdown-menu,
.menu-sidebar .rb-lang .currency-selector .dropdown-menu {
  top: inherit;
  bottom: 100%;
  margin-bottom: 10px;
}

/* line 882, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar .rb-lang .language-selector .dropdown-menu::before,
.menu-sidebar .rb-lang .currency-selector .dropdown-menu::before {
  top: inherit;
  bottom: -14px;
  border-bottom-color: transparent;
  border-top-color: #dadada;
}

/* line 888, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar .rb-lang .language-selector .dropdown-menu li,
.menu-sidebar .rb-lang .currency-selector .dropdown-menu li {
  margin-bottom: 0;
}

/* line 893, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar .rb-lang .language-selector {
  margin-left: 30px;
}

/* line 899, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar .rb-social-block .rb-title {
  display: none;
}

/* line 904, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar #footer_social_block a {
  width: auto;
  height: auto;
  border: none;
  margin: 0 10px 0 0;
  line-height: normal;
}

/* line 910, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.menu-sidebar #footer_social_block a i {
  font-size: 20px;
}

/* line 917, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
body.off-canvas-active {
  width: auto;
  overflow: hidden;
}

/* line 923, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.close-menubar {
  color: #222222;
  display: inline-block;
}

/* line 926, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.close-menubar #click_off_menu,
.close-menubar #click_off {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  border: 9px solid transparent;
  color: #777;
  width: 36px;
  height: 36px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* line 939, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.close-menubar #click_off_menu::before, .close-menubar #click_off_menu::after,
.close-menubar #click_off::before,
.close-menubar #click_off::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background-color: #777;
  transform-origin: 50% 50%;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: transform ease 0.25s;
  -moz-transition: transform ease 0.25s;
  -ms-transition: transform ease 0.25s;
  -o-transition: transform ease 0.25s;
  transition: transform ease 0.25s;
}

/* line 953, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.close-menubar #click_off_menu::before,
.close-menubar #click_off::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 956, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.close-menubar #click_off_menu::after,
.close-menubar #click_off::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 960, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.close-menubar #click_off_menu:hover::before, .close-menubar #click_off_menu:hover::after,
.close-menubar #click_off:hover::before,
.close-menubar #click_off:hover::after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* line 966, ../../xampp/htdocs/rubiktheme/rb_evo/themes/rb_evo/_dev/css/modules/rbthemedream/views/css/header.scss */
.close-menubar i {
  font-size: 26px;
  font-weight: 600;
}

/*# sourceMappingURL=header.css.map */